<div class="row">	
	<!-- 
	<div class="col-lg-12"> 
		<a href="javascript:void(0);" (click)="goBack()"><i class="fa fa-arrow-left"></i> Go Back</a>
	</div> -->
	<div class="col-lg-12 d-flex justify-content-center" *ngIf="loadSpinner">
		<!-- <p-progressSpinner ></p-progressSpinner>		 -->
	</div>
</div>
<!-- Main Content Start -->
<div class="panel">
	<div class="records--body" style="padding-bottom:0;">
		<div class="title">
			<div class="col-lg-12"> 
				<!-- Page Title Start -->
				<h2 class="page--title h5">Dashboard</h2>
				<!-- Page Title End -->
			</div>
		</div>
	</div>
	<!-- App Start -->
	<div class="app_wrapper row">
		<!-- App Content Start -->
		<div class="app_content col-lg-12">
			<div class="todoApp_contentBody text-center" *ngIf="loggedInUser.role == 'student'">
				<h3>Go to Download extension and use it</h3>
				<a href="javascript:void(0)" class="btn btn-rounded btn-warning">Download</a>
			</div>
		</div>
		<!-- App Content End -->
	</div>
	<!-- App End -->
</div>
<!-- Main Content End -->
